@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
  min-height: 100vh;
}

.bg-1 {
  background-color: #f7f7f7;
}

.bg-2 {
  background-color: #5d646f;
  color: #f7f7f7;
}

.bg-2 .card-subtitle {
  color: #ccc !important;
}

#carousel {
  /* max-width: 800px; */
}

#title {
  height: 20vh;
  color: #f8b501;
}

#logo {
  height: 6em;
}

#title hr {
  height: 3px;
  background-color: #f8b501;
  opacity: 1;
  margin: 0;
}

#row-2-3 {
  background-image: url(img/bg-1.jpeg);
}

#service-1 {
  background-image: url(img/service-1.png);
}

#service-2 {
  background-image: url(img/service-2.png);
}

#service-3 {
  background-image: url(img/service-3.png);
}

#service-4 {
  background-image: url(img/service-4.png);
}

#services div div {
  height: 10em;
}

#services div div:hover {
  z-index: 99;
  transform: scale(1.3);
  transition: 1s;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

#services div div div .card-title {
  color: #f8b501;
  text-shadow: 0px 0px 2px black;
}

#services div div div .card-subtitle {
  color: #eee !important;
  text-shadow: 0px 0px 2px black;
}
